DATABASE_URL="postgresql://USER:PASSWORD@PROJECT-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@PROJECT.REGION.aws.neon.tech/DATABASE?sslmode=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@DIRECT_HOST:5432/SHADOW_DATABASE?sslmode=require"
PAYMONGO_SECRET_KEY=""
PAYMONGO_PUBLIC_KEY=""
PAYMONGO_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ORGANIZER_MONTHLY_PRICE=19900
